@import "../config";

#gamesList {
  border: 1px solid $color-vue-gray;
  border-radius: 5px;
  overflow: hidden;

  li {
    border-bottom: 1px solid $color-vue-gray;
    overflow: hidden;

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background: lighten($color-vue-gray, 60%);

      .number {
        background: darken($color-vue-green, 10%);
      }
    }
  }

  a {
    display: block;
    text-decoration: none;
  }

  .number {
    background: $color-vue-green;
    color: #fff;
    display: inline-block;
    float: left;
    height: 50px;
    line-height: 52px;
    margin-right: 10px;
    text-align: center;
    width: 50px;
  }
  
  .info {
    display: inline-block;
    margin-bottom: -3px;
    overflow: hidden;
  }

  .size, .state {
    background: lighten($color-vue-gray, 20%);
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    margin: 7px 0 3px;
    padding: 2px 5px;
  }

  .state {
    background: transparent;
    border: 1px solid lighten($color-vue-gray, 20%);
    color: $color-vue-gray;
    margin-left: 5px;

    &.finished {
      background: $color-vue-green;
      border-color: $color-vue-green;
      color: #fff;
    }
  }

  .name {
    color: $color-vue-green;
    display: block;
  }

  .blurred {
    background: linear-gradient(45deg, darken($color-vue-green, 10%), lighten($color-vue-green, 10%));
    color: #fff;
    display: inline-block;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}