@import "../config";

#game {
  display: grid;
  grid-gap: 15px;
  grid-template-rows: 1fr 35px;
  position: relative;

  &.hasKeyboard {
    grid-template-rows: 1fr 190px;
  }

  .controls {
    text-align: center;

    .buttons {
      button {
        margin-right: 10px;
      }
    }
  }

  .done {
    animation: showDonePopup .5s;
    background: #fff;
    border-radius: 10px;
    font-size: 1.4em;
    left: 50%;
    line-height: 1.25em;
    padding: 20px;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;

    .buttons {
      white-space: nowrap;
    }

    p {
      margin-bottom: 8px;
    }

    button {
      font-size: .6em;
      margin: 0 3px 5px;
    }
  }

  .doneBackground {
    background: rgba(#000, .5);
    height: calc(100% + 50px);
    left: -25px;
    position: absolute;
    top: -25px;
    width: calc(100% + 50px);
    z-index: 9;
  }
}
button:hover {
  .restartIcon {
    animation: restartIconAnimation .4s;
  }

  &:disabled {
    .restartIcon {
      animation: none;
    }
  }
}

button:disabled {
  .restartIcon {
    opacity: .5;
  }
}

.restartIcon {
  border: 3px solid white;
  border-radius: 50%;
  border-right-color: transparent;
  display: inline-block;
  float: left;
  height: 20px;
  margin: 8px 10px 0 0;
  position: relative;
  width: 20px;

  &:before {
    border-color: transparent;
    border-left-color: #fff;
    border-style: solid;
    border-width: 5px 6px;
    content: '';
    left: 10px;
    position: absolute;
    top: 0;
    transform: rotate(45deg);
  }
}

.keyboardIcon {
  display: inline-block;
  float: left;
  height: 20px;
  margin: 8px 10px 0 0;
  position: relative;
  width: 20px;

  &:before, &:after {
    background: #fff;
    border-radius: 3px;
    content: '';
    height: 20px;
    left: 50%;
    margin: -10px 0 0 -3px;
    position: absolute;
    top: 50%;
    width: 6px;
  }

  &:after {
    transform: rotate(90deg);
  }
}

@keyframes showDonePopup {
  from {
    margin-top: -20px;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}

@keyframes restartIconAnimation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}