@import "../config";

#game {
  position: relative;

  .actions {
    margin-top: 15px;
  }

  .modes {
    margin-top: 10px;

    button {
      margin-right: 5px;
    }
  }

  .done {
    animation: showDonePopup .5s;
    background: #fff;
    border-radius: 10px;
    font-size: 1.4em;
    left: 50%;
    line-height: 1.25em;
    padding: 20px;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;

    .buttons {
      white-space: nowrap;
    }

    p {
      margin-bottom: 8px;
    }

    button {
      font-size: .6em;
      margin: 0 3px 5px;
    }
  }

  .doneBackground {
    background: rgba(#000, .5);
    height: calc(100% + 50px);
    left: -25px;
    position: absolute;
    top: -25px;
    width: calc(100% + 50px);
    z-index: 9;
  }
}

@keyframes showDonePopup {
  from {
    margin-top: -20px;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}