@import "../config";

$tablet-width: 1000px;

header {
  align-items: center;
  background: $color-vue-gray;
  color: white;
  display: flex;
  height: $header-height;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 0 20px;
  position: relative;

  a {
    color: $color-vue-green;

    &.router-link-exact-active {
      color: white;
      text-decoration: none;
    }
  }

  nav {
    position: relative;

    .burger {
      cursor: pointer;
      display: block;
      height: 24px;
      width: 30px;

      &:before, &:after {
        background: $color-vue-green;
        content: '';
        height: 4px;
        left: 0;
        position: absolute;
        top: 0;
        transition: transform .2s, margin .2s;
        width: 30px;
      }

      &:after {
        bottom: 0;
        top: auto;
      }

      span {
        background: $color-vue-green;
        height: 4px;
        margin-top: -2px;
        position: absolute;
        top: 50%;
        width: 100%;
      }

      &.opened {
        &:before, &:after {
          margin-left: -10px;
          transform: rotate(-45deg) translateY(14px);
        }

        &:after {
          transform: rotate(45deg) translateY(-14px);
        }

        span {
          display: none;
        }
      }
    }

    ul.headerMenu {
      background: $color-vue-gray;
      display: none;
      padding: 10px;
      position: absolute;
      right: 0;
      top: 45px;
      width: 200px;
      z-index: 11;

      &.opened {
        display: block;
      }

      > li {
        margin: 5px 0;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .dropdown {
    border: 1px solid white;
    border-radius: 10px;
    margin-top: 25px;

    .label {
      background: $color-vue-gray;
      display: inline-block;
      font-size: .85em;
      margin-left: 25px;
      padding: 0 5px;
      transform: translateY(-70%);
    }

    ul {
      margin: -5px 10px 10px;
    }

    li {
      color: $color-vue-green;
      cursor: pointer;
      margin: 5px 0;
      position: relative;
      padding-left: 20px;

      &.active {
        color: #fff;

        &:before {
          border-bottom: 2px solid #fff;
          border-left: 2px solid #fff;
          content: '';
          display: inline-block;
          height: 5px;
          left: 0;
          position: absolute;
          top: 3px;
          transform: rotate(-45deg);
          width: 10px;
        }
      }
    }
  }

  // Menu for wide screens
  @media (min-width: $tablet-width) {
    nav {
      .burger {
        display: none;
      }

      ul.headerMenu {
        display: flex;
        margin: 0;
        padding: 0;
        position: relative;
        right: auto;
        top: auto;
        width: auto;

        &.opened {
          display: flex;
        }

        > li {
          &:before {
            content: '|';
            margin: 0 10px;
          }
          &:first-child:before {
            display: none;
          }
        }
      }
    }

    .dropdown {
      border: none;
      display: inline-block;
      margin: 0;
      position: relative;

      .label {
        color: $color-vue-green;
        cursor: pointer;
        display: inline-block;
        font-size: 1em;
        margin: 0 0 -20px;
        padding: 0 20px 20px 0;
        transform: none;

        &:after {
          border: 5px solid transparent;
          border-top-color: $color-vue-green;
          content: '';
          position: absolute;
          right: 0;
          top: 50%;
        }
      }

      &:hover {
        ul {
          display: block;
          z-index: 11;
        }
      }

      ul {
        background: #fff;
        border: 1px solid $color-vue-gray;
        border-radius: 5px;
        color: $color-vue-green;
        display: none;
        overflow: hidden;
        position: absolute;
        right: -15px;
        top: 30px;

        li {
          cursor: pointer;
          display: block;
          padding: 5px 15px 5px 30px;
          text-decoration: none;

          &.active {
            background: $color-vue-green;
            color: #fff;

            &:before {
              left: 8px;
              top: 8px;
            }
          }
        }
      }
    }
  }
}

h1 {
  height: 37px;
  font-size: 1.4em;
  line-height: 40px;
  padding-left: 50px;
  position: relative;
  text-shadow: 0 2px 2px rgba(0, 0, 0, .5);

  a {
    color: #fff;
    text-decoration: none;
  }
}

#logo {
  border: 1px solid white;
  border-radius: 2px;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, .5);
  display: inline-block;
  height: 37px;
  left: 0;
  line-height: 37px;
  margin-right: 10px;
  padding: 1px 0 0 1px;
  position: absolute;
  top: 0;
  width: 37px;

  span {
    background: $color-vue-green;
    border: 1px solid white;
    cursor: pointer;
    display: block;
    float: left;
    height: 16px;
    margin: 0 1px 1px 0;
    position: relative;
    transition: transform .2s, box-shadow .5s;
    width: 16px;
    z-index: 1;

    &:hover {
      box-shadow: 0 0 5px rgba(0, 0, 0, .5);
      transform: scale(1.5);
      z-index: 2;
    }

    &.cancelled {
      background: white;

      &:before, &:after {
        background: $color-vue-gray;
        content: '';
        height: 1px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        width: 120%;
      }

      &:after {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }
}